[mysqld_safe]
socket = /opt/mysql/mysqld.sock
nice = 0

[mysqld]
server-id = 70
event_scheduler = 1
character-set-server = utf8
bind-address = 0.0.0.0
symbolic-links = 0
max_allowed_packet = 40M
user = rocky
pid-file = /opt/mysql/mysqld.pid
socket = /opt/mysql/mysqld.sock
port = 3306
basedir = /usr/local/mysql
datadir = /opt/mysql/data
tmpdir = /opt/mysql/tmp
skip-external-locking

key_buffer_size = 16M
thread_stack = 192K
thread_cache_size = 8

max_connections = 1000

query_cache_limit = 1M
query_cache_size = 16M

log_error = /opt/mysql/log/error.log
log-bin = /opt/mysql/log/mysql-bin
expire_logs_days = 10
max_binlog_size = 100M

[client]
default-character-set = utf8
